.social-links {
  background-color: #272A31;
  color: white;
  display: flex;
}

.flex {
  display: inline-flex;
  list-style: none;
  justify-content: right;
  text-align: right;
  width: 30%;
  margin-left: 70%;
  height: 20px;
}

.flex li a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.flex li a h5 {
  margin: 10px;
}